############################################

# bgbackup configuration file

# Check for Percona backup history records to migrate?
# If yes, be warned that backups which meet the current
# delete threshold will be deleted. Backups which have
# already been deleted will be marked with deleted_at
# as today's date.
checkmigrate=no


# MariaDB config file location if not in default location(s) (optional)
#mycnfdir=

# MariaDB host (optional)
#host=127.0.0.1

# MariaDB host port (optional)
#hostport=3306

# MySQL socket
# socket=/var/lib/mysql/mysql.sock

# MariaDB backup username
backupuser=testuser

# MariaDB backup user password
backuppass=testpass

# MariaDB host for backup history
backuphisthost=localhost

# MariaDB port for backup history
#backuphistport=3306

# MariaDB user for backup history
backuphistuser=mariadbbackup

# MariaDB password for backup history
backuphistpass=testpass

# MariaDB schema for backup history
backuphistschema=mdbutil

# If server is monitored by MONyog, should we disable alerts?
monyog=no

# The name of the server being backed up as setup in MONyog
monyogserver=

# MONyog username
monyoguser=

# MONyog password
monyogpass=

# MONyog host/ip
monyoghost=

# MONyog port
monyogport=

# Day of week to do full backup. Set to "Everyday" to do full backup everyday (subsequent daily backups will be incremental)
fullbackday=Everyday

# Differential does incremental backup based on the last full backup instead of last full or incremental
differential=no

# Number of full backups to keep
keepnum=3

# Number of backup table backups to keep. If not set, won't clean up. (optional)
# keepbkuptblnum=

# Full path to backup directory root
backupdir=/backups

# Path to keep logs
logpath=/var/log

# Log verbosity
verbose=no

# Log to syslog
syslog=no

# Backup type (directory or archive)
bktype=directory

# Archive type (tar or xbstream) for archive backup type
# arctype=tar

# Used for parallel and compress
threads=4

# Use parallel threads for backup?
parallel=yes

# Encrypt backup?
encrypt=yes

# Full path to encryption key
cryptkey=/etc/my.cnf.d/backupscript.key

# Compress backup?
compress=yes

# Compression utility used for archives, for now gzip or pigz (parallel gzip) are supported
# For standalone directories, qpress is always used
computil=gzip

# Include Galera info and enable wsrep_desync to avoid flow control during backup.
# When the backup is finished, wait for wsrep_local_recv_queue to drop to 0 before
# disabling wsrep_desync. 
galera=no

# Include slave info?
slave=no

# Comma separated list of email address to be notified.
maillist=ben@mariadb.com,guillaume@mariadb.com

# Email subject prefix
mailsubpre="[BGBackup]"

# Email (all or failure)
mailon=all

# Run command(s) after backup, for example: run_on_success=/usr/local/bin/success.sh
# (leave empty if you do not want to run anything)
# If backup succedded
run_after_success=
# If backup failed
run_after_fail=

# Debug prints all variables to the commandline when script is ran.
# This can be a security risk. Set to yes to enable.
debug=no

############################################
