############################################

# bgbackup configuration file

# MySQL host (optional)
#host=127.0.0.1

# MySQL host port (optional)
#hostport=3306

# MySQL backup username
backupuser=testuser

# MySQL backup user password
backuppass=testpass

# If server monitored by MONyog, should we disable alerts?                 
monyog=no

# The name of the server as setup in MONyog
monyogserver=

# MONyog username
monyoguser=

# MONyog password
monyogpass=

# MONyog host/ip                 
monyoghost=

# MONyog port
monyogport=

# Day of week to do full backup. Set to "Always" to always do a full backup.
fullbackday=Always

# Minimum number of days to keep full backups
keepday=10

# Full path to backup directory root
backupdir=/backups

# Path to keep logs
logpath=/var/log

# Log verbosity
verbose=no

# Backup type (directory or archive)
bktype=directory

# Archive type (tar or xbstream)
arctype=tar

# Used for parallel and compress
threads=4

# Use parallel threads for backup?
parallel=yes

# Encrypt backup?
encrypt=yes

# Full path to encryption key
cryptkey=/etc/my.cnf.d/backupscript.key

# Compress backup?
compress=yes

# Compression utility used for archives, for now gzip or pigz (parallel gzip) are supported
# For standalone directories, qpress is always used
computil=gzip

# Include Galera info?
galera=no

# Include slave info? 
slave=no

# Comma separated list of email address to be notified.
maillist=ben@mariadb.com,guillaume@mariadb.com

# Email subject prefix
mailsubpre="[BGBackup]"

# Email on success
mailonsuccess=no

# Run command(s) after backup, for example: run_on_success=/usr/local/bin/success.sh 
# (leave empty if you do not want to run anything)
# If backup succedded
run_after_success=
# If backup failed
run_after_fail=

# Debug prints all variables to the commandline when script is ran.
# This can be a security risk. Set to yes to enable.
debug=no

############################################
